@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-Black.ttf);
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-BlackItalic.ttf);
	font-weight: bolder;
	font-style: italic;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'CeraPro';
	src: url(../fonts/CeraPro-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-RegularItalic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-Light.ttf);
	font-weight: light;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-LightItalic.ttf);
	font-weight: light;
	font-style: italic;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-Thin.ttf);
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "CeraPro";
	src: url(../fonts/CeraPro-ThinItalic.ttf);
	font-weight: lighter;
	font-style: italic;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
	font-weight: bolder;
	font-style: italic;
}
*{
	font-family: "CeraPro";
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	margin: 0px;
	padding: 0px;
	color: #30343D;
}

.main-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
.header{
	background-color:#F6F8FA;
}
.top-header-wrapping{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}
.container{
	display: flex;
	width: 70%;
	height: auto;
	margin:0px 15%;
	justify-content: space-between;
	align-items: center;
}
.contacts{
	display: flex;
	flex-basis: 25%;
	margin-left: 40%;
	gap: 20%;
}
.phone-number__title{
	display: inline;
	font-size: 18px;
	margin-left: 5px;
	font-weight: 500;
}
.phone-number__subtitle{
	font-weight: normal;
	color: #F7AB42;
}
.mail__title{
	display: inline;
	font-size: 18px;
	margin-left: 5px;
	font-weight: 500;
}
.mail__subtitle{
	font-weight: lighter;
}
.button{
	width: 200px;
	height: 52px;
	background-color: #F7AB42;
	border: 1px solid #F7AB42;
	border-radius: 8px;
	color: #FFFFFF;
	font-weight: 500;
	z-index: 1;
}
.button:hover{
	background-color: #d47e08;
}
.low-header-wrapping{
	width: 100%;
	height: 60px;
	background-color:#EEF1F5D1;
}
.low-header-container{
	line-height: 60px;
}
.menu__link{
	margin-right: 40px;
	text-decoration: none;
	color: #30343D;
	font-weight: 500;
}
.menu__link:hover{
	color: #1b1c21;
}
.busket__title{
	display: inline;
	font-weight: 500;
	margin-left: 5px;
}

.main{
	background-image: url(../img/big-logo.png);
	background-repeat: no-repeat;
	background-position: 90% 33%;
}
.content__container{
	flex-direction: column;
	width: 100%;
	margin: 0px 0%;
}
.module1-wrapping{
	width: 100%;
	background-color:#F6F8FA;
}
.module1__container{
	display: flex;
	height: auto;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-between;
	width: 70%;
	margin: 15px 15%;
}
.module1__img{
	width: 30%;
	height: auto;
}
.module1__img--opacity{
	width: 40%;
	height: auto;
	margin-left: -28%;
	margin-top: 15%;
}
.module1-information-block-flex-wrapping{
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
	margin-top: 5%;
}
.module1__text-module{margin-bottom: 40px;}
.module1__title{
	font-family: "PlayfairDisplay";
	font-size: 33px;
	font-weight: 400;
	letter-spacing: 2px;
}
.module1__subtitle{
	margin-top: 15px;
	letter-spacing: 2px;
}

.module2-wrapping{
	width: 100%;
	margin-top: 3%;
}
.module2__main-title{
	align-self: start;
	font-family: "PlayfairDisplay" ;
	font-size: 24px;
	font-weight: 400;
	width: 100%;
	margin-bottom: 20px;
}
.module2__container{
	width: 70%;
	margin: 1.5% 15%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.section-img{
	width: 425px;
}
.module2__title{
	font-family: "PlayfairDisplay" ;
	font-size: 18px;
	font-weight: 400;
	margin-top: 25px;
}
.module2__subtitle{
	font-family: "CeraPro" ;
	font-size: 16px;
	font-weight: lighter;
	margin-top: 10px;
}


.module3-wrapping{
	background-color:#F6F8FA;
}
.module3__main-title{
	margin-top: 7%;
	align-self: start;
	font-family: "PlayfairDisplay";
	font-size: 24px;
	font-weight: 400;
	width: 100%;
	margin-bottom: 20px;
}
.module3__container{
	width: 70%;
	margin: 1.5% 15%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;

}
.cards-wrapping{
	display: flex;
	justify-content: space-between;
}
.module3__card{
	width: 345px;
	height: 450px;
	background-color:#727A8E1A;
}
.module3__card{
	display: flex;
	flex-direction: column;
}
.card__indicators{
	display: flex;
	justify-content: space-between;
}
.card__new{
	width: 92px;
	height: 25px;
	background-color: #43B2F7;
	color: #FFFFFF;
	border: 1px solid #43B2F7;
	border-radius: 5px;
	margin: 10px 15px;
}
.card__like{
	width: 23px;
	height: 20px;
	margin: 10px 15px;
}
.card__image{
	width: 307px;
	height: 238px;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}
.module3__title{
	margin: 20px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
}
.module3__subtitle{
	margin: 20px;
	font-size: 20px;
	font-weight: 500;
}
.description-block{
	width: 70%;
	margin: 3% 15%;
	background-image: url(../img/module3-background-combo.png);
	background-repeat: no-repeat;
	background-position: 800px -300px;
	background-size: 1000px;
	display: flex;
	flex-direction: column;
	padding-bottom: 150px;
}
.description-block__text-title{
	margin-bottom: 2%;
}
.description-block__text{
	width: 40%;
}
.description-block__group-links{
	display: flex;
	margin-top: 100px;
	justify-content: start;
	align-items:center;
	gap: 15px;
}
.description-block__links{
	display: flex;
	flex-basis: 5%;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.description-block__icon-wrapping{
	border: 2px solid #C7D2E0;
	width: 73px;
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-wpapping{
	background-color:#DCE3EC;
}
.footer__container{
	height: 304px;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
}
.footer__contacts{
	margin-left: 15%;
	flex-basis: auto;
}
.footer__line{
	background-color:#979FA640;
	color: #979FA640;
	width: 100%;
	margin-bottom: 6%;
}
.footer-subtitle{
	margin-top: -10%;
}



@media(min-width:1440px) and (max-width:2559px){
	.contacts{
		flex-basis: 46%;
		margin-left: 30%;
		gap: 10%;
	}
	.container{
		width: 74%;
		margin:0px 13%;
	}
}

@media(min-width:1024px) and (max-width:1440px){
	.contacts{
		flex-basis: 35%;
		margin-left: 20%;
		gap: 10%;
	}
	.container{
		width: 96%;
		margin:0px 2%;
	}
}

